
2. Báo cáo-Bàn giao/1.BaoCao/Thông tin lưu trữ/SanXuat/thông tin lưu trữ/A Chiến bàn Giao/Tổng hợp xuất kho và sửa chữa 2019/Bàn giao linh kiện và trả kho sản xuất linh kiện/Biên bản bàn giao linh kiện cho đội BH2019.xls
2. Báo cáo-Bàn giao/1.BaoCao/Thông tin lưu trữ/SanXuat/thông tin lưu trữ/A Chiến bàn Giao/Tổng hợp xuất kho và sửa chữa 2019/Tổng hợp sửa chữa và báo cáo năm 2019/Tổng hợp linh kiện xuất kho và check LK t1-t7 2019.xlsx
3. tài liệu chung/1. Thành phẩm-Thiết bị/1. nationalgpstracker/1. tool-soft/3. Debug Tool/SIMCOM/Tool/SIM800_Series_download_Tools_Customer_v1.06/SIM800_Series_download_Tools_Customer_v1.06/Microsoft.VC90.CRT.manifest
3. tài liệu chung/1. Thành phẩm-Thiết bị/1. nationalgpstracker/1. tool-soft/3. Debug Tool/SIMCOM/Tool/SIM800_Series_download_Tools_Customer_v1.06/SIM800_Series_download_Tools_Customer_v1.06/Microsoft.VC90.MFC.manifest
3. tài liệu chung/1. Thành phẩm-Thiết bị/1. nationalgpstracker/1. tool-soft/3. Debug Tool/SIMCOM/Tool/SIM800_Series_download_Tools_Customer_v1.06/SIM800_Series_download_Tools_Customer_v1.06/MultiPortFlashDownloadProject.drc
3. tài liệu chung/1. Thành phẩm-Thiết bị/1. nationalgpstracker/1. tool-soft/3. Debug Tool/SIMCOM/Tool/SIM800_Series_download_Tools_Customer_v1.06/SIM800_Series_download_Tools_Customer_v1.06/MultiPortFlashDownloadProject.ini
3. tài liệu chung/1. Thành phẩm-Thiết bị/1. nationalgpstracker/1. tool-soft/3. Debug Tool/SIMCOM/Tool/SIM800_Series_download_Tools_Customer_v1.06/SIM800_Series_download_Tools_Customer_v1.06/MultiPortFlashDownloadProject.lib
3. tài liệu chung/1. Thành phẩm-Thiết bị/1. nationalgpstracker/1. tool-soft/3. Debug Tool/SIMCOM/Tool/SIM800_Series_download_Tools_Customer_v1.06/SIM800_Series_download_Tools_Customer_v1.06/Simcom_Series_download_Tools_Customer.exe
3. tài liệu chung/1. Thành phẩm-Thiết bị/1. nationalgpstracker/2. Devices/6. TG102E/2. Production-ASM/1. Firmware-Software/MC60_FW/MC60CAR01A06/MC60CAR01A06V04/DbgInfo_11CW1418IOTMP_QUECTEL03D_M2M_11C_MC60CAR01A06_2017_07_24_16_48
3. tài liệu chung/1. Thành phẩm-Thiết bị/1. nationalgpstracker/2. Devices/6. TG102E/2. Production-ASM/1. Firmware-Software/MC60_FW/MC60CAR01A10/MC60CAR01A10/DbgInfo_11CW1418IOTMP_QUECTEL03D_M2M_11C_MC60CAR01A10_2018_10_11_21_06
