<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
   
  <appSettings>
    <add key="Model" value="Model,TG102SE,TG102GE"/>
    <add key="Telephone" value="0243 6400 767"/>
    <!--<add key="MobilePhone" value="0906 245 155-_-skype:nhatpham170?chat"/>-->
    <add key="MobilePhone" value="0906 245 155"/>
    <add key="Website" value="vnetgps.vn-_-https://vnetgps.vn/"/>
    <add key="Address" value="Số 233-234, Lô C6, Khu ĐTM Đại Kim, Hoàng Mai, Hà Nội-_-https://www.google.com/maps/place/C%C3%B4ng+ty+c%E1%BB%95+ph%E1%BA%A7n+C%C3%B4ng+ngh%E1%BB%87+%C4%90i%E1%BB%87n+t%E1%BB%AD+%26+Vi%E1%BB%85n+th%C3%B4ng+Vi%E1%BB%87t+Nam+-+%C4%90%E1%BB%8Bnh+v%E1%BB%8B+VNETGPS/@20.9737841,105.8328879,17z/data=!3m1!4b1!4m5!3m4!1s0x3135ac50ab83a2db:0x9af3c326b6eccc2c!8m2!3d20.9737791!4d105.8350766"/>
    <add key="Email" value="info@vn-et.com-_-mailto:info@vn-et.com"/>
    <add key="FileUserManual" value="HDSD_GPSTrackerNEW_22012018.docx"/>
    <add key="User" value="102"/>
    <add key="Version" value="Phiên bản 1.0.2"/>
  </appSettings>
</configuration>