<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
   
  <appSettings>
    <add key="Model" value="Model"/>
    <add key="Telephone" value=""/>
    <!--<add key="MobilePhone" value="0906 245 155-_-skype:nhatpham170?chat"/>-->
    <add key="MobilePhone" value=""/>
    <add key="Website" value=""/>
    <add key="Address" value=""/>
    <add key="Email" value=""/>
    <add key="FileUserManual" value="HDSD_GPSTrackerNEW_22012018.docx"/>    
    <add key="Version" value="Phiên bản 1.0.2"/>
  </appSettings>
</configuration>